.offers{
    /* width: 100%; */
    height: 90vh;
    display: flex;
    /* margin: 100px; */
    padding: 0px 140px;
    margin-bottom: 150px;
    background: rgb(16, 16, 43);
}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.offers-left h1{
    color: #eae1e1;
    font-size: 60px;
    font-weight: 600;
    text-align: left;
}
.offers-left h2 {
    color: #eae1e1;
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    margin-left: 40px;
}

.offers-left button{
    width: 190px;
    height: 60px;
    border-radius: 50px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 22px;
    font-weight: 500;
    margin-top: 30px;
    margin-left: -95px;
    cursor: pointer;
}
.offers-right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.offers-right img{
    height: 250px;
    border-radius: 30px;;
}